<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArhznIrkF-hE2ozqkyRpmlAMtqmM1LD5M</string>
	<key>GCM_SENDER_ID</key>
	<string>616526471173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bsd.IColab</string>
	<key>PROJECT_ID</key>
	<string>icolabfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>icolabfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616526471173:ios:71168f82671925c549bc6c</string>
</dict>
</plist>